---
---

@import "{{ site.theme }}";
header {
  width:170px;
}
section {
    width: 600px;
}
.logo {
    width: 100%;
    margin-bottom: 20px;
}
.url {
	display: none;
}
@media only screen and (max-width: 960px) {
	header {
		width: 100%
	}
	section {
		width: 100%
	}
	.logo {
		width:170px;
	}
}
@media only screen and (max-width: 720px) {
	header {
		width: 100%
	}
	section {
		width: 100%
	}
	.logo {
		width:170px;
	}
}
@media only screen and (max-width: 480px) {
	header {
		width: 100%
	}
	section {
		width: 100%
	}
	.logo {
		width:170px;
	}
}
@media print {
	header {
		width:100%;
	}
	footer {
		display: none;
	}
	.logo {
		display: none;
	}
	.url {
		display: block;
	}
	.view {
		display: none;
	}
	body {
    font-size:10pt;
    color:#000;
	}
}