---
---

@import "{{ site.theme }}";
header {
  width:170px;
}
section {
    width: 600px;
}
.logo {
    width: 100%;
    margin-bottom: 20px;
}
@media print {
	header {
		width: 100%;
	}
	.logo {
		float: right;
	}
	.view {
		display: none;
	}
}