---
---

@import "{{ site.theme }}";
header {
  width:170px;
}
section {
    width: 600px;
}
.logo {
    width: 100%;
    margin-bottom: 20px;
}
@media print {
	header {
		width:170px;
		float:left;
		position: fixed;
	}
	section {
		width:600px;
		float:right;
		padding-bottom:50px;
	}
	footer {
		display: none;
	}
	.logo {
		display: none;
	}
	.view {
		display: none;
	}
	body {
    font-size:10pt;
    color:#000;
  }
}